<% content_for :title, "New entry" %>

<h1 class="title">New Entry</h1>

<div id="form">
<%= render "form", entry: @entry %>
</div>

<br>

<div class="link-section">
  <p class="link"><%= link_to "Back to entries", entries_path %></p>
</div>

