<div class="background-container" style="background: url('/assets/bgtop.jpg'); background-size: cover; background-position: center; height: 300px; top: 0; margin-top: 0;">
    <h1 id="main-title">FOODLOG</h1>
</div>